<!-- STATUS BAR -->
<div class="status-bar">
  <div class="status-left">
    <div class="status-item">
      <i class="codicon codicon-plug"></i>
      <span id="connectionIndicatorBase"></span>
      <span id="connectionStatus" data-i18n="connection.status.disconnected">Disconnected</span>
    </div>
    <div class="status-item">
      <i class="codicon codicon-eye-closed" id="watcherIcon"></i>
      <span id="watcherStatus" data-i18n="statusbar.watcher_off">Watcher: Off</span>
    </div>
  </div>
  <div class="status-right">
    <div class="status-item" id="currentSlotDisplay" data-i18n="statusbar.slot">Slot: 0</div>
    <div class="status-item">UTF-8</div>
    <div class="status-item">C</div>
    <div class="status-item"><i class="codicon codicon-bell"></i></div>
  </div>
</div>
