<!-- STATUS BAR -->
<div class="status-bar">
  <div class="status-left">
    <div class="status-item">
      <i class="codicon codicon-plug"></i>
      <span id="connectionIndicatorBase"></span>
      <span id="connectionStatus">Disconnected</span>
    </div>
    <div class="status-item">
      <i class="codicon codicon-eye"></i>
      <span id="watcherStatus">Watcher: Off</span>
    </div>
  </div>
  <div class="status-right">
    <div class="status-item" id="currentSlotDisplay">Slot: 0</div>
    <div class="status-item">UTF-8</div>
    <div class="status-item">C</div>
    <div class="status-item"><i class="codicon codicon-bell"></i></div>
  </div>
</div>
